*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://s3-alpha-sig.figma.com/img/3094/2a51/c7befc63c72da50ef3215fe433f6cdb5?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bDlvv6AbrGcurcxHvG~aF84r~QTx4TmiqPHE~cXasWBnwnVK8G1m6ZZgGm8I4JqMF2xNyWR7XH7IATdvVHfWlXb1ecf5Mw~vhyNPPoxrbkEMzj2DRSkNVxLVnw8a2XCjFg7CjpCIsTcd1OBqB2Wb69SEVg5kvn0RW65jwS4uwevCNQEqm5q-3~N9859lXU512VNNnAt7VdERzVuAC05D8TwB0MzgSRHl1ckkSYp0-zUS4kO~Dukfg0-~SoC5M1W4pJvDk6ec5AvmQXk8g4dy9Fl1cZxSJI6033ThwKfb-dmozaT1-Sd7gvRCeL5d4KMW~dT-KqxtSZrWEvEowrmX0g__);
}
.icon{

}
.nav{
    width: 1140px;
    height: 45px;
    /* border: 2px solid blue; */
    margin: auto;
    margin-top: 57.59px;
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 600.3px;
    height: 40px;
}
.items{
  list-style: none;
  line-height: 21.6px;
  color: white;

}
.home{
    color: #F06161;
}
.compenents{
    width: 115.78px;
    height: 40px;
    font-family: Raleway;
font-size: 14px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
background-color: #F06161;
border-color: #F06161;
border-radius: 1.6px;
align-items: center;
    display: flex;
place-content: center;

}